#turn-container {
    height: 100%;
    /*padding-top: 11%;*/
    background-color: lavender;
}

md-grid-list {
    padding: 5%;
}

md-grid-tile {
    background-color: deeppink;
    color: white;
    border: 15px solid deeppink;
    font-size: 8vw;
    box-sizing: border-box;
    height: 30%;
    margin-top: 25%;
}

.selected {
    border: 15px solid purple;
    z-index: 1000;
    box-sizing: border-box;
}

.selected span {
    border-bottom: 15px solid purple;
    margin-bottom: -15px;
}